#_bg__android_large___1 {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 800px;
	background:rgba(0,0,0,1);
}
#__p__kushaj_solanki {
	top: 474px;
	left: 80px;
	width: 238px;
	height: 69px;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 26px;
	margin-left: 50px;
	margin-top: 40px;
	text-align: center;
	color:#FFFFFF;
}
#text {
	top: 521px;
	left: 7px;
	width: 369.5px;
	height: 36.5px;
	overflow: hidden;
	font-family: sans-serif;
	margin-left: 10px;
	margin-top: -25px;
	font-size: 13px;
	text-align: left;
	color:#a0a0a0;
}